@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-sm;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2,
h3 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

h1,
h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h1 {
    @apply text-[clamp(2.4rem,_5vw,_74px)] leading-[1.3];
    /* @apply text-5xl md:text-6xl lg:text-[74px]; */
}

h2 {
    @apply text-[clamp(2rem,_3vw,_58px)] leading-[1.3];
    /* @apply  text-3xl md:text-5xl lg:text-[48px]; */
}

h3 {
    @apply text-[clamp(1.5rem,_2vw,_24px)];
}

button {
    cursor: pointer;
}

.full-width-text {
    font-size: clamp(3rem, 10rem, 100vw);
}

/* Add to your global CSS */
.minimal-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.minimal-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(240, 241, 244);
    border-radius: 2px;
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 163, 175);
}

.minimal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(242, 243, 245) transparent;
}

.join-active {
    @apply bg-stone-50 relative;
}

.join-active::after {
    @apply h-20 w-full rounded-xl bg-primary absolute left-0 -bottom-[1.5px] -z-[1] transition-all;

    animation: join-animate 5s ease-in-out;
    content: "";
}

@keyframes join-animate {
    0% {
        width: 5%;
    }
    100% {
        width: 100%;
    }
}

.nav-selected {
    @apply bg-white;
}

.nav-selected button svg {
    @apply fill-primary;
}

.tab-active {
    @apply bg-white text-black;
}

.splide__progress__bar {
    height: 3px;
    background: #fbbb0c;
}

.embla {
    overflow: hidden;
    height: 23rem; /* Example height */
}

.embla__container {
    display: flex;
    flex-direction: column; /* Arrange slides vertically */
    height: 100%;
}

.embla__slide {
    flex: 0 0 auto; /* Adapt slide size to its content */
    min-height: 0;
    /* Add any other styling for your slides */
}
.embla2 {
    overflow: hidden;
    height: 32rem; /* Example height */
}

.embla2__container {
    display: flex;
    flex-direction: column-reverse; /* Arrange slides vertically */
    height: 100%;
}

.embla2__slide {
    flex: 0 0 auto; /* Adapt slide size to its content */
    min-height: 0;
    /* Add any other styling for your slides */
}
/* 
#bottom-to-top-slide {
    overflow: hidden;
    position: relative;
    height: 400px;
}
.bottom-to-top-list {
    display: flex;
    flex-direction: column;
    transition: transform 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}
 */
#bottom-to-top-slide {
    overflow: hidden;
    height: 500px; /* Set to the height of your visible area */
    position: relative;
}
.bottom-to-top-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* space-y-6 */
    animation: scroll-up 25s linear infinite;
}
@keyframes scroll-up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    } /* Move up by half the list height (since duplicated) */
}
#bottom-to-bottom-slide {
    overflow: hidden;
    height: 500px; /* Set to the height of your visible area */
    position: relative;
}
.bottom-to-bottom-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* space-y-6 */
    animation: scroll-down 25s linear infinite;
}
@keyframes scroll-down {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    } /* Move down by half the list height (since duplicated) */
}
